.header {
  padding: 10px 15px;
  border-bottom: solid #eee 1px;
  display: flex;
  align-items: center;
  background-color: #fff;
}
.header__logo {
  width: 45px;
  height: 38px;
}
.header__logo-img {
  width: 45px;
  height: 38px;
}
.header__search {
  flex: 1;
  text-align: right;
  margin: 0 5px;
}
.header__search-input {
  overflow: visible;
  border: none;
  box-shadow: none;
  outline: none;
  color: #666;
  outline-offset: -2px;
  background-color: #f9f9f9;
  padding: 8px;
  border: #dedede solid 1px;
}
.header__menus {
  position: relative;
}
.header__menus-holder {
  color: #007fff;
}
.header__menus-list {
  position: absolute;
  top: 100%;
  left: 0;

  margin-top: 10px;
  width: 90px;
  background-color: #fff;
  border: #eee solid 1px;
  border-radius: 5px;
}
.header__menus-item {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #71777c;
}
.header__menus-item--active {
  color: #007fff;
}
.header__login-button {
  appearance: none;
  border-radius: 2px;
  outline: none;
  transition: background-color .3s,color .3s;
  cursor: pointer;
  border: #007fff solid 1px;
  padding: .5px 10px;
  color: #007fff;
  line-height: 1.9rem;
  background-color: #fff;
}
